* {
    font-family: 'El Messiri', sans-serif;
    color: rgb(158, 158, 158);
}

a {
   text-decoration: none;
   color: black;
}
/*-------------------------*/
.pos_header {
    background: url(../img/header-bg.png) no-repeat center center;
}
.h_f_content, .artic {
    width: 60%;
    margin: 15px 20%;
}
.h_f_content table {
    width: 100%;
    text-align: center;
}
.h_f_content td {
    vertical-align: middle;
}
.menu_h {
    background-color:rgb(247, 243, 242);
    height: 60px;
    border-radius: 5px;
}
/*------------------------*/

main {
    background: url(../img/category-bg.png) top;
    text-align: center;
}

.artic article {
    margin-top: 10px;
}

.name_artic {
    display: inline-block;
    width: 900px;
    margin: 20px 25%;
}

.name_artic h1 {
    font-size: 40px;
    color: black;
    margin: 40px 0px;
}

.name_artic p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

tr.artic_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.artic td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}

.artic a {
    text-decoration: underline;
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 22px;
}

/*---------------------------*/

.banner {
    background: url(../img/banner-bg.png) no-repeat top;
    text-align: center;
    padding: 50px 0 100px;
}

.load_but button {
    background-color: rgb(128, 180, 67);
    border: none;
    color: #fff;
    min-width: 1050px;
    min-height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(119, 119, 119);
}

.but:hover {
    background-color: rgb(94, 134, 49);
    box-shadow: 0 0 17px rgb(65, 65, 65);
}

.load_but {
    margin-bottom: 60px;
}

.load_but{
    text-align: center;
    margin-top: 20px;
}

.subscr{
    background-image: url(../img/subscribe-bg.png);
    color: white;
}

button.subscr {
    background-color: darkgray;
    border-color: white;
}

footer .menu_h {
    background-color: #e7e1da;
    margin-bottom: 40px;
}

.secure a {
    color: rgb(86, 168, 3);
}

.f_content {
    margin-bottom: 40px;
}
