* {
    font-family: 'El Messiri', sans-serif;
    color: rgb(158, 158, 158);
}

a {
   text-decoration: none;
   color: black;
}
/*-------------------------*/
.pos_header {
    background: url(../img/header-bg.png) no-repeat center center;
}
.h_f_content, .artic {
    width: 60%;
    margin: 15px 20%;
}
.h_f_content table {
    width: 100%;
    text-align: center;
}
.h_f_content td {
    vertical-align: middle;
}

.menu_h {
    background-color:rgb(247, 243, 242);
    height: 60px;
    border-radius: 5px;
}

.menu_h select {
    border: solid black 0;
    color: black;
    background-color: rgb(247, 243, 242);
    outline: none;
    height: 20px;
}

.find_ input {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(240, 240, 240) solid 2px;
    height: 24px;
    width: 200px;
    border-radius: 15px;
    font-size: 17px;
    letter-spacing: 1px;
}

.find_ input::placeholder {
    background: url(../img/find.png) right no-repeat;
    background-size: 20px;

}
/*------------------------*/

main {
    background: url(../img/category-bg.png) top;
    text-align: center;
}

.artic article {
    margin-top: 10px;
}

.name_artic {
    display: inline-block;
    width: 900px;
    margin: 20px 25%;
}

.name_artic h1 {
    font-size: 40px;
    color: black;
    margin: 40px 0px;
}

.name_artic p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

tr.artic_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.artic td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}

.artic a {
    text-decoration: underline;
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 22px;
}

/*---------------------------*/

.banner {
    background: url(../img/banner-bg.png) no-repeat top;
    text-align: center;
    padding: 50px 0 100px;
}

.load_but button {
    background-color: rgb(128, 180, 67);
    border: none;
    color: #fff;
    min-width: 1050px;
    min-height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(119, 119, 119);
}

.but:hover {
    background-color: rgb(94, 134, 49);
    box-shadow: 0 0 17px rgb(65, 65, 65);
}

.load_but {
    margin-bottom: 60px;
}

.load_but{
    text-align: center;
    margin-top: 20px;
}

.subscr {
    background: url(../img/subscribe-bg.png) no-repeat;
    background-size: 100%;
    text-align: center;
    height: 370px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.lett {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

.subscr h2 {
    font-size: 38px;
    font-family: 'El Messiri', sans-serif;
    margin-bottom: 20px;
}

.subscr button {
    background-color: rgb(128, 180, 67, 0);
    border: solid white 2px;
    color: #fff;
    min-width: 250px;
    min-height: 56px;
    border-radius: 28px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    
}

.butsub:hover {
    background-color: rgb(94, 134, 49, 0);
    box-shadow: 0 0 17px rgb(109, 109, 109);
}

.lett input::placeholder {
    color: #fff;
}

/* .lett input:focus {
    border: none;
} */

.lett input  {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(94, 134, 49, 0);
    min-width: 350px;
    color: white;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    margin: 80px 12px 30px 12px;
    border-bottom: #fff solid 1px;
}

.u_name {
    margin-bottom: 25px;;
}

footer .menu_h {
    background-color: #e7e1da;
    margin-bottom: 40px;
}

.secure a {
    color: rgb(86, 168, 3);
    text-decoration: underline;
}

.f_content {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 14px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.copyright {
    color: black;
}